.main .single-page-con {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #fff !important;
  z-index: 1;
  transition: left .3s;
}
.card-usual{
  width:80%;
  margin:auto;
  margin-top: 40px;
}